{
  "root": true,
  "extends": ["jc"],
  "rules": {
    "react/no-array-index-key": "off",
    // TODO remove in next version
    "react/jsx-pascal-case": ["error", { "allowAllCaps": true }],
    // TODO remove in next version
    "react/jsx-no-bind": ["error", { "ignoreDOMComponents": true }],

    "import/no-unresolved": [
      "error",
      { "ignore": ["^@docusaurus/", "^@theme/"] }
    ]
  }
}
